.container {
    width: 80%;
}


/*nav*/

.navbar {
    font-size: 16px;
    font-family: "微软雅黑";
    transition: all .5s;
}

.nav>li a {
    padding-left: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav>li>a {
    padding: 30px 40px;
}

.navbar-brand {
    display: block;
    width: 160px;
    background: url(../img/icon/cloud_logo@2x.png) no-repeat;
    background-size: auto 20px;
    background-position: 20px 26px;
    float: left;
}

.navbar-button {
    margin-top: 20px;
}

.navbar-button li:first-child a {
    color: #727272;
    border: 1px solid #6C6C6C;
}

.navbar-button li:first-child a:hover {
    color: #fff;
    background: #6C6C6D;
}

.navbar-button li:last-child a {
    color: #13AAEE;
    border: 1px solid #13AAEE;
}

.navbar-button li:last-child a:hover {
    color: #fff;
    background: #04A5EE;
}

.dropdown-menu li:hover {
    background-color: #EDEDEE;
}


/*footer*/

.footer {
    background: #333333;
    color: #fff;
    font-family: "Muli,'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif";
    padding-top: 30px;
    padding-bottom: 50px;
}

.contact h4 {
    font-size: 20px;
    padding-left: 5px;
}

.contact li {
    width: 100%;
}

.contact li a {
    color: #777777;
    line-height: 40px;
    text-decoration: none;
    transition: all .3s;
}

.contact li a:hover {
    color: #fff;
}

.copyright {
    background-color: #000;
    color: #A6A6A6;
    font-size: 18px;
    line-height: 80px;
}

.copyright .share {
    float: right;
}

.copyright .share span {
    cursor: pointer;
}

.copyright .weixin {
    float: left;
    margin-right: 10px;
}

.copyright .weixin .weixin-show {
    position: absolute;
    top: -160px;
    left: -50px;
    display: none;
}

.copyright .weixin:hover .weixin-show {
    display: block;
}

.copyright .weibo {
    float: left;
    margin-right: 10px;
}

.copyright .share-btn {
    float: left;
}

.copyright .share-show {
    position: absolute;
    top: -40px;
    left: 80px;
    display: none;
    width: 160px;
    height: 44px;
    background-color: #fff;
    transition: all .5s;
}

.copyright .share-show span {
    position: relative;
    top: -20px;
    left: 12px;
    margin: 3px;
    display: block;
    float: left;
    transition: all .5s;
}

.copyright .share-btn:hover .share-show {
    display: block;
    transition: all .5s;
}


/*主体内容区*/


/*section-pic*/

.section-pic {
    height: 678px;
    background-image: url(../img/index1-01@2x.jpg);
    background-repeat: no-repeat;
    background-size: auto 105%;
    transition: all .2s;
}

.section-pic .container-center {
    position: absolute;
    top: 40%;
}

.section-pic .container-center h1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.section-pic .container-center .btn-01 {
    background-color: #03A9F4;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 18px;
    border: none;
}

.section-pic .container-center .btn-01:hover {
    background-color: #0AB1FC;
    color: #fff;
}

.section-pic .container-center .btn-02 {
    background-color: transparent;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 18px;
    border: 1px solid #fff;
}

.section-pic .container-center .btn-02:hover {
    background-color: #fff;
    color: #03A9F5;
}

.section-pic .container-center a {
    padding: 10px 25px;
    margin-right: 20px;
    border-radius: 2px;
    transition: all .5s;
}


/*section-function*/

.section-function {
    padding: 50px 0;
}

.section-function .function div {
    padding: 30px 50px;
}

.section-function .function div span {
    display: block;
    width: 47px;
    height: 47px;
    background: url(../img/icon/feature-icon@2x.png) no-repeat;
    background-size: auto 100%;
    margin: 0 auto;
}

.section-function h1 {
    font-size: 38px;
    font-family: "微软雅黑";
    padding: 20px 0;
}

.section-function .function div h4 {
    font-size: 18px;
    font-family: "微软雅黑";
    padding: 20px 0;
}

.section-function .function div:nth-of-type(2) span {
    background-position: -47px 0;
}

.section-function .function div:nth-of-type(3) span {
    background-position: -94px 0;
}

.section-function .function div:nth-of-type(4) span {
    background-position: -141px 0;
}

.section-function .function div:nth-of-type(5) span {
    background-position: -188px 0;
}

.section-function .function div:nth-of-type(6) span {
    background-position: -235px 0;
}

.btn-sdk {
    color: #03A9F4;
    border: 1px solid #03A9F4;
    font-size: 20px;
    padding: 10px 30px;
    display: table;
    margin: 30px auto;
    transition: all .5s;
}

.btn-sdk:hover {
    color: #fff;
    background-color: #0AB1FC;
    border: 1px solid #0AB1FC;
    font-size: 20px;
    padding: 10px 30px;
}


/*section-advantage*/

.section-advantage {
    background-image: url(../img/apps-lg@2x.jpg);
    background-size: auto 200%;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 100px;
}

.section-advantage h1 {
    font-size: 38px;
    font-family: "微软雅黑";
    padding: 20px 0;
}

.section-advantage .advantage>div {
    padding: 20px 50px;
}

.section-advantage .advantage>div:nth-of-type(even) {
    float: right;
}

.section-advantage .advantage>div span {
    display: block;
}

.section-advantage .advantage>div h4 {
    font-size: 18px;
    font-family: "微软雅黑";
    padding-bottom: 15px;
}

.section-advantage .advantage>div p {
    font-size: 14px;
    font-family: "微软雅黑";
}


/*section-application*/

.section-application {
    background-color: #F9F9F9;
    padding: 30px 0 30px;
}

.application>a {
    display: block;
    height: auto;
    margin: 10px;
    text-decoration: none;
    border-radius: 3px;
    transition: all .3s;
}

.application .col-md-3 {
    width: 23%;
}

.application>a:hover {
    box-shadow: 0 3px 3px #B6B6B6;
}

.application>a:nth-of-type(1) {
    background-image: url(../img/jypx-01-01.png);
    background-repeat: no-repeat;
}

.application>a:nth-of-type(2) {
    background-image: url(../img/sjpx-01-01.png);
    background-repeat: no-repeat;
}

.application>a:nth-of-type(3) {
    background-image: url(../img/ycyl-01-01.png);
    background-repeat: no-repeat;
}

.application>a:nth-of-type(4) {
    background-image: url(../img/ydbg-01-01.png);
    background-repeat: no-repeat;
}

.application>a p {
    display: block;
    padding: 60px;
    font-size: 20px;
    font-family: "微软雅黑";
    color: #fff;
    text-align: center;
}

.section-application h1 {
    font-size: 38px;
    font-family: "微软雅黑";
    padding: 30px 0;
}

.btn-sdk2 {
    margin-top: 80px;
}


/*section-Partner*/

.section-Partner {
    padding: 20px 0 80px;
}

.section-Partner h1 {
    font-size: 38px;
    font-family: "微软雅黑";
    padding: 30px 0;
}

.Partner div {
    margin-bottom: 30px;
}


/*section-Customer*/

.section-Customer {
    background-color: #F9F9F9;
    padding: 60px 0;
}

.section-Customer h1 {
    font-family: "微软雅黑";
    color: #BCBCBC;
    padding-bottom: 20px;
}

.section-Customer .Customer .text {
    color: #666666;
    text-indent: 2em;
}

.section-Customer .Customer .text-last {
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}

.section-Customer .Customer p {
    font-size: 14px;
    line-height: 28px;
}


/*产品页面*/

#content-product h1 {
    font-size: 38px;
    font-family: "微软雅黑";
}

#content-product h2 {
    font-size: 32px;
    font-family: "微软雅黑";
}

#content-product h3 {
    font-size: 28px;
    font-family: "微软雅黑";
}

#content-product h4 {
    font-size: 22px;
    font-family: "微软雅黑";
}

.product-page01 {
    background-image: url(../img/bj_product.jpg);
    padding: 200px 0;
}

.product-page01 h1 {
    color: #fff;
    font-size: 60px;
    margin-bottom: 20px;
}

.product-page01 h3 {
    color: #fff;
    font-size: 40px;
}

.product-page02 {
    padding: 50px 0;
}

.product-page02 .text {
    padding: 0 50px;
}

.product-page02 .text h2 {
    line-height: 80px;
}

.product-page02 .text h4 {
    line-height: 40px;
}

.product-page02 .text p {
    line-height: 30px;
}

.product-page03 {
    background-color: #F9F9F9;
}

.product-page05 {
    background-color: #F9F9F9;
}

.product-page05 p {
    font-size: 18px;
    padding: 0 40px;
}

.product-page06 p {
    padding-top: 50px;
    font-size: 18px;
}

.product-page07 {
    background-color: #F9F9F9;
}

.product-page07 h1 {
    padding: 30px 0;
}

.product-page07 h4 {
    padding: 20px 0;
}

.product-page07 p {
    font-size: 15px;
    line-height: 26px;
    padding: 0 10px;
}

.product-page08 {
    padding: 50px 0;
}

.product-page08 h1 {
    padding: 10px 0;
}

.product-page08 a {
    display: inline-block;
    float: left;
    width: 200px;
    height: 50px;
    margin-right: 20px;
}

.product-page08 .text-center {
    margin: 0 auto;
    width: 40%;
}


/*price*/

#content-price h1 {
    font-size: 44px;
    font-family: "微软雅黑";
}

#content-price h2 {
    font-size: 38px;
    font-family: "微软雅黑";
}

#content-price h3 {
    font-size: 30px;
    font-family: "微软雅黑";
}

#content-price h5 {
    font-size: 18px;
    font-family: "微软雅黑";
}

.price-page01 {
    background-image: url(../img/price_bj.jpg);
    padding: 200px 0;
}

.price-page02 {
    padding: 40px 0;
}

.price-page02>p {
    font-size: 20px;
}

.price-page02 .title span {
    display: block;
    float: left;
}

.price-page02 .title h5 {
    display: inline-block;
    line-height: 0px;
    float: left;
}

.price-page02 .title p {
    font-size: 14px;
    display: inline-block;
    line-height: 30px;
    color: #979797;
}

.price-page02 .table {
    text-align: center;
}


/* .price-page02 .table td,
.price-page02 table th {
    height: 30px;
    line-height: 30px;
}

 .price-page02 .table th {
	color: #666666 !important;
    border-right: 1px solid #DFDFDF;
    text-align: center;
}
 
 .price-page02 .table th:last-child {
    border-right: none;
} 

.price-page02 table {
    border-bottom: 1px solid #BCBCBC;
    border-top: 1px solid #BCBCBC;
}

 */

.price-page02 .table tbody {
    border-bottom: 1px solid #BCBCBC;
}

.price-page02 .table .table {
    margin-bottom: 0;
}

.price-page02 .table .table {
    padding: 0 !important;
}

.price-page02 .table .table th {
    padding: 0;
}

.price-page02 .table .table tbody {
    border: none;
}

.price-page02 .table thead {
    border-top: 1px solid #BCBCBC;
}

.price-page02 .table td {
    border: none;
    /*border-right: 1px solid #ccc;*/
}

.price-page02 .table th {
    vertical-align: middle;
    text-align: center;
}

.price-page02 .table thead {
    border-bottom: 1px solid #ccc;
    border
}


/*content-download*/

#content-download {
    margin-top: 100px;
}

#content-download h1 {
    font-size: 40px;
    font-family: "微软雅黑";
    line-height: 100px;
}

#content-download h5 {
    font-size: 20px;
    font-family: "微软雅黑";
    line-height: 50px;
}

#content-download p {
    font-size: 16px;
    line-height: 30px;
}

#content-download .link {
    margin-top: 50px;
}

#content-download .link span {
    font-size: 20px;
    line-height: 60px;
}

#content-download .link .btn-01 {
    width: 142px;
    height: 42px;
    line-height: 32px;
    border: none;
    background-color: #1EA0E7;
    color: #fff;
    margin: 10px;
}

#content-download .link .btn-02 {
    width: 142px;
    height: 42px;
    line-height: 32px;
    border: 1px solid #1EA0E7;
    background-color: #fff;
    color: #1EA0EA;
    margin: 10px;
}


/*content-detail*/

#content-detail h1 {
    font-size: 50px;
    font-family: "微软雅黑";
    line-height: 100px;
}

#content-detail h2 {
    font-size: 35px;
    font-family: "微软雅黑";
    line-height: 100px;
}

#content-detail h4 {
    font-size: 26px;
    font-family: "微软雅黑";
    line-height: 100px;
}

#content-detail .detail-page01 {
    background: url(../img/bj_solelearning.jpg) no-repeat;
    padding: 200px 0;
}

#content-detail .detail-page01 h1,
#content-detail .detail-page01 h4 {
    color: #fff;
}

#content-detail p {
    font-size: 16px;
    line-height: 30px;
}

#content-detail .detail-page03 {
    background-color: #F9F9F9;
}

#content-detail .detail-page04 h2 {
    line-height: 200px;
}

#content-detail .detail-page04 p {
    font-size: 16px;
    line-height: 60px;
}

#content-detail .detail-page05 {
    padding: 100px 0;
    background-color: #F9F9F9;
}

#content-detail .detail-page06 {
    background-image: url(../img/1111-01.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding: 0;
}

#content-detail .detail-page06 h2,
#content-detail .detail-page06 p {
    color: #fff;
}

#content-detail .detail-page06 h2{
	line-height: 100px;
}
#content-detail .detail-page06 p{
}
#content-detail .detail-page06 .row{
padding-bottom: 140px;
}

/*login*/
#login{
	padding: 200px 0; 
}

#reg{
	padding: 100px 0;
}