/*样式重置*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
select,
textarea,
p,
form,
input,
th,
td {
    padding: 0;
    margin: 0px;
}

a {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: top;
}

li {
    list-style-type: none;
}

em {
    font-style: normal;
}

table {
    border-collapse: collapse;
}

input,
textarea {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

body {
    font-size: 12px;
    font-family: 微软雅黑;
}

/*公共样式*/

.clear {
    zoom: 1;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.gradient {
    background-color: #fafafa;
    background-image: linear-gradient(#ffffff, #f8f8f8);
    background-image: -webkit-linear-gradient(#ffffff, #f8f8f8);
    background-image: -moz-linear-gradient(#ffffff, #f8f8f8);
    background-image: -ms-linear-gradient(#ffffff, #f8f8f8);
    background-image: -o-linear-gradient(#ffffff, #f8f8f8);
}

.triangle_up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #ca0309;
}

.triangle_down_red {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ca0309;
}

.triangle_down_gray {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #c1c1c1;
}

/*布局样式*/

#header,
#nav,
.content {
    width: 960px;
    margin: 0 auto;
}

#search,
.section,
.side-section,
.side-ad,
#footer {
    border: 1px solid #dbdbdb;
    border-radius: 6px;
}

.section,
.options,
.main-ad,
.side-section,
.side-ad {
    margin-bottom: 10px;
}

#header {
    height: 30px;
    border-radius: 0 0 6px 6px;
}

#nav {
    height: 100px;
    position: relative;
}

#search {
    width: 958px;
    height: 114px;
    margin: 0 auto 10px;
    position: relative;
}

.content {
}

.main {
    width: 710px;
}

.section {
    width: 318px;
    padding: 0 15px;
}

.options {
    width: 350px;
    position: relative;
}

.slide {
    width: 240px;
}

.main-ad {
    border-radius: 6px;
    overflow: hidden;
}

.side-section {
    width: 208px;
    padding: 0 15px;
}

.side-ad {
    overflow: hidden;
    border-radius: 10px;
}

#footer {
    width: 958px;
    height: 78px;
    margin: 0 auto 30px;
}

.options-tab {
    position: relative;
}

.options-tab li {
    width: 172px;
    height: 33px;
    border: 1px solid #dbdbdb;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
}

.options-tab .active {
    height: 34px;
    background: #ffffff;
    z-index: 2;
    margin-bottom: -1px;
}

.options-con {
    width: 348px;
    border: 1px solid #dbdbdb;
    border-radius: 0 0 6px 6px;
    z-index: 1;
}

/*header区域*/

#header .city {
    padding: 5px 0 0 15px;
    color: #666;
}

#header .city a {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #eeeeee;
    color: #999999;
    height: 18px;
    line-height: 18px;
    padding: 0 8px;
}

#header .city a:hover {
    color: #d60d03;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #eeeeee;
    height: 18px;
    line-height: 18px;
    padding: 0 8px;
}

#header .city .active {
    color: #d60d03;
}

#header .link {
    padding: 5px 15px;
    color: #d5d5d5;
}

#header .link a {
    color: #999999;
}

#header .link a:hover {
    color: #999999;
    text-decoration: underline;
}

#header .link .icon1 {
    padding-left: 20px;
    background: url("../img/header_icon1.png") no-repeat 0 3px;
}

#header .link .icon2 {
    padding-left: 20px;
    background: url("../img/header_icon2.png") no-repeat 0 3px;
}

/*nav区域*/

#nav .nav1 {
    position: absolute;
    left: 18px;
    top: 10px;
}

#nav a {
    color: #333;
}

#nav .nav1 li {
    float: left;
}

#nav .nav1 li a {
    display: inline-block;
    padding-top: 50px;
    width: 66px;
    background: url("../img/nav-bg/nav1.png") no-repeat center 6px;
    text-align: center;
}

#nav .nav1 li a:hover {
    background: url("../img/nav-bg/nav1_hover.png") no-repeat center 0;
}

#nav .nav1 li .nav-icon-02 {
    background: url("../img/nav-bg/nav2.png") no-repeat center 6px;
}

#nav .nav1 li .nav-icon-02:hover {
    background: url("../img/nav-bg/nav2_hover.png") no-repeat center 0;
}

#nav .nav1 li .nav-icon-03 {
    background: url("../img/nav-bg/nav3.png") no-repeat center 6px;
}

#nav .nav1 li .nav-icon-03:hover {
    background: url("../img/nav-bg/nav3_hover.png") no-repeat center 0;
}

#nav .nav1 li .nav-icon-04 {
    background: url("../img/nav-bg/nav4.png") no-repeat center 6px;
}

#nav .nav1 li .nav-icon-04:hover {
    background: url("../img/nav-bg/nav4_hover.png") no-repeat center 0;
}

#nav .nav1 li .nav-icon-05 {
    background: url("../img/nav-bg/nav5.png") no-repeat center 6px;
}

#nav .nav1 li .nav-icon-05:hover {
    background: url("../img/nav-bg/nav5_hover.png") no-repeat center 0;
}

#nav .nav2 li .nav-icon-06 {
    background: url("../img/nav-bg/nav6.png") no-repeat center 6px;
}

#nav .nav2 li .nav-icon-06:hover {
    background: url("../img/nav-bg/nav6_hover.png") no-repeat center 0;
}

#nav .nav2 li .nav-icon-07 {
    background: url("../img/nav-bg/nav7.png") no-repeat center 6px;
}

#nav .nav2 li .nav-icon-07:hover {
    background: url("../img/nav-bg/nav7_hover.png") no-repeat center 0;
}

#nav .nav2 li .nav-icon-08 {
    background: url("../img/nav-bg/nav8.png") no-repeat center 6px;
}

#nav .nav2 li .nav-icon-08:hover {
    background: url("../img/nav-bg/nav8_hover.png") no-repeat center 0;
}

#nav .nav2 li .nav-icon-09 {
    background: url("../img/nav-bg/nav9.png") no-repeat center 6px;
}

#nav .nav2 li .nav-icon-09:hover {
    background: url("../img/nav-bg/nav9_hover.png") no-repeat center 0;
}

#nav .nav2 li .nav-icon-10 {
    background: url("../img/nav-bg/nav10.png") no-repeat center 6px;
}

#nav .nav2 li .nav-icon-10:hover {
    background: url("../img/nav-bg/nav10_hover.png") no-repeat center 0;
}

#nav h1 {
    position: relative;
    top: 10px;
    width: 223px;
    height: 62px;
    margin: 0 auto;
}

#nav .nav2 {
    position: absolute;
    right: 18px;
    top: 10px;
}

#nav .nav2 li {
    float: left;
}

#nav .nav2 li a {
    display: inline-block;
    padding-top: 50px;
    width: 66px;
    background: url("../img/nav-bg/nav1.png") no-repeat center 6px;
    text-align: center;
}

/*search区域*/

#search .bar {
    position: absolute;
    top: 18px;
    left: -1px;
    width: 958px;
    height: 64px;
    margin: 0 auto 10px;
    border: 1px solid #c40d0e;
    background: #e21c01;
    border-radius: 5px;
}

#search .bar .menu {
    position: absolute;
    top: -27px;
    left: 226px;
}

#search .bar .menu li {
    width: 78px;
    height: 25px;
    float: left;
    color: #000;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin-right: 1px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #eec8b8;
    border-bottom: none;
    cursor: pointer;
}

#search .bar .menu .active {
    position: relative;
    top: -2px;
    height: 28px;
    background: #e21c01;
    border: 1px solid #c40d0e;
    border-bottom: 1px solid #e21c01;
    color: #ffffff;
    font-weight: bold;
}

#search .img {
    position: absolute;
    top: -3px;
    left: 33px;
    z-index: 2;
}

#search .form {
    position: absolute;
    top: 38px;
    left: 230px;
}

#search .form .text {
    width: 366px;
    height: 23px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    color: #ea7a7a;
    margin-right: 10px;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .25);
}

#search .form .btn {
    width: 63px;
    height: 26px;
    background: url("../img/search_btn.png") no-repeat;
    border: none;
    cursor: pointer;
}

#search .main-info {
    width: 209px;
    height: 37px;
    position: absolute;
    top: 34px;
    right: 40px;
}

#search .main-info a {
    color: #ffffff;
    line-height: 18px;
}

#search .update {
    width: 356px;
    height: 30px;
    position: absolute;
    left: 226px;
    bottom: 0;
    padding-left: 52px;
    background: url("../img/update.png") no-repeat left center;
}

#search .update .wrap {
    height: 30px;
    overflow: hidden;
    position: relative;
}

#search .update .wrap ul {
    width: 345px;
    line-height: 30px;
    padding: 0 10px;
    position: absolute;
    top:0;
}

#search .update .wrap li {
}

#search .update .wrap li a {
    color: #000;
}

#search .update .wrap li a:hover {
    text-decoration: underline;;
}

#search .update .wrap li strong {
    font-weight: normal;
    color: #d30703;
    float: left;
}

#search .update .wrap li span {
    color: #999999;
    float: left;
    padding: 0 10px;
}

#search .update .triangle_up {
    position: absolute;
    top: 8px;
    right: 15px;
}

#search .update .triangle_down_red {
    position: absolute;
    bottom: 8px;
    right: 15px;
}

/*video*/

.video {
    padding-top: 10px;
    padding-bottom: 10px;
}

.video h2 {
    color: #d90000;
    font-size: 16px;
    background: url("../img/stop.png") no-repeat 110px center;
    margin-bottom: 10px;
}

.video .news {
    height: 64px;
    padding-left: 80px;
    background: url("../img/hot.png") no-repeat left center;
    margin-top: 16px;
}

.video .news li {
    line-height: 20px;
    padding-left: 4px;
    background: url("../img/list_icon.png") no-repeat left center;
}

.video .news a {
    color: #4d4d4d;
}

.video .news a:hover {
    text-decoration: underline;
}

.main-title {
    height: 40px;
    line-height: 40px;
    position: relative;
}

.main-title strong {
    font-family: Arial;
    color: #cc0d13;
}

.main-title span {
    color: #000;
    margin-left: 4px;
}

.main-title a {
    position: absolute;
    top: 15px;
    right: 0;
}

.option-title {
    position: relative;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

.option-title strong {
    font-family: Arial;
    color: #cc0d13;
}

.option-title span {
    color: #000;
    margin-left: 4px;
}

.option-title a {
    position: absolute;
    top: 15px;
    right: 18px;
}

.options-con .wrap {
    width: 318px;
    height: 352px;
    padding: 15px;
    margin: 0 auto;
    position: relative;
}

.options-con .wrap li {
    width: 316px;
    height: 100px;
    margin-bottom: 10px;
    background: url("../img/hot_list-pic1_bg.png") no-repeat right;
}

.options-con .wrap .text {
    position: absolute;
    right: 70px;
}

.options-con .wrap .text h3 a {
    display: block;
    color: #bb0d0d;
    line-height: 24px;
    margin-bottom: 10px;
}

.options-con .wrap .text p {
    color: #6E6E6E;
    line-height: 16px;
}

.side-section-login {
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 238px;
}

.login-con {
    padding: 10px 15px 0 20px;
    position: relative;
}

.login-con input[type="text"] {
    width: 87px;
    height: 17px;
    border: 1px solid #E5E5E5;
    margin-left: 4px;
}

.login-con .checckbox {
    position: absolute;
    right: 20px;
    top: 16px;
}

.login-con .checckbox input {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.login-con .btn {
    width: 56px;
    height: 23px;
    border-radius: 6px;
    background: #E80000;
    border: none;
    color: #ffffff;
    box-shadow: 2px 2px 2px #9c9c9c;
    margin-left: 4px;
    cursor: pointer;
}

.login-con span {
    line-height: 26px;
    color: #595959;
}

.side-section-login .main-title {
    border-radius: 6px;
    text-indent: 15px;
}

.login-con hr {
    margin: 10px 0;
}

.login-con a {
    color: #666;
    background: url("../img/list_icon.png") no-repeat left center;
    padding-left: 5px;
}

.login-con .reg {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 20px;
}

.login-con .reg a {
    margin-right: 30px;
}

.help-con .lianxi {
    padding: 13px 0;
}

.help-con hr {
    margin: 7px 0 20px 0;
}

.help-con .help-info {
}

.help-con .info-left,
.help-con .info-right {
    margin-bottom: 26px;
    width: 50%;
}

.help-con li {
    padding-left: 13px;
    background: url("../img/list_icon.png") no-repeat left center;
    line-height: 20px;
}

.help-con h3 {
    line-height: 24px;
    color: #292929;
}

.help-con li a {
    color: #292929;
}

.media-con ul {
    padding: 8px 0 25px 0;
}

.media-con li {
    height: 45px;
}

.media-con li img {
    margin-right: 10px;
    line-height: 45px;
    margin-top: 6px;
}

.media-con li p {
    line-height: 20px;
}

.media-con li a {
    color: #333333;
}

/*footer*/

#footer {
    background: #F9F9F9;
}

#footer .wrap {
    width: 520px;
    margin: 0 auto;
}

#footer .wrap ul {
    padding: 20px 0 30px 0;
}

#footer .wrap li {
    float: left;
}

#footer .wrap a {
    color: #454545;
}

#footer p {
    width: 440px;
    margin: 0 auto;
    color: #767676;
}

.tab {
    height: 25px;
    border-bottom: 1px solid #DADADA;
    position: relative;
}

.tab ul {
    margin: 0 auto;
}

.tab li {
    float: left;
    border: 1px solid #DADADA;
    height: 25px;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    margin-right: -1px;
    text-align: center;
    line-height: 25px;
    background: url("../img/sanjiao-red-down.png") no-repeat 85% center;
    color: #666666;
}

.tab .active {
    background: url("../img/sanjiao-gray-down .png") no-repeat 85% center;
    background-color: #ffffff;
    color: #454545;
    /*position: absolute;*/

    /*display: block;*/
    /*float: left;*/
}

.question-con {
    height: 100px;
}

.side-section .tab ul {
    padding: 0 6px;
}

.side-section .tab li {
    width: 64px;
}

.section .tab ul {
    padding: 0 10px;
}

.section .tab li {
    width: 98px;
}

.list-section {
}

.list-section li {
    height: 28px;
    width: 210px;
    border-top: 1px dotted #CBCBCA;
    background: url("../img/list_icon.png") no-repeat 8px center;
    text-indent: 16px;
    line-height: 28px;
}

.list-section li span {
    color: #C3C3C3;
}

.list-section li em {
    color: #C75D61;
}

.list-section li a {
    display: inline-block;
    color: #333333;
    text-indent: 6px;
}

.list-section a:hover {
    color: #F99246;
}

.list-section .title {
    color: #999999;
    background: none;
    border-top: none;
}

.list-section .clo-1 {
    width: 120px;
    float: left;
    color: #414141;
}

.list-section .clo-1:hover {
    color: #F99246;
}

.list-section .clo-2 {
    width: 34px;
    float: left;
    color: #E86C6C;
}

.list-section .clo-3 {
    width: 30px;
    float: left;
}

.list-section .title .clo-1,
.list-section .title .clo-2,
.list-section .title .clo-3 {
    color: #B6B6B6;
}

.section .list-section li {
    width: 310px;
}

.section .list-section .clo-1 {
    width: 250px;
    float: left;
}

.section .list-section .clo-2 {
    width: 40px;
}

.section .list-section .title {
    text-align: center;
    line-height: 31px;
}

.side-section .shop-info {
    line-height: 22px;
}

.soso {
    padding: 15px 0;
    color: #595959;
    font-weight: bold;
}

.soso input[type="text"] {
    width: 180px;
    height: 20px;
    color: #AAAAAA;
}

.soso input[type="submit"] {
    width: 24px;
    height: 24px;
    background: #BC0C14;
    border-radius: 50%;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.list-pic li {
    height: 84px;
    border-bottom: 1px dotted #CBCBCA;
    margin-bottom: 4px;
}

.list-pic .text a {
    display: block;
    color: #C53030;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 2px;
}

.list-pic .img a:hover {
    display: block;
    opacity: 0.7;
}

.list-pic p {
    color: #666;
    line-height: 18px;
}

.wrap-section-2 {
    margin-bottom: 14px;
}

.wrap-section-2 .list-pic li {
    width: 50%;
    border: none;
    float: left;
    height: 134px;
}

.new-title {
    width: 350px;
    height: 75px;
    background: url("../img/new_title_bg.png") no-repeat -16px -1px;
    position: relative;
}

.new-title h2 span {
    position: absolute;
    color: #ea2b31;
    font-size: 12px;
    line-height: 18px;
    top: 15px;
    left: 5px;
}

.new-title h3 {
    position: absolute;
    font-size: 24px;
    line-height: 18px;
    color: #333333;
    top: 35px;
    left: 5px;
}

.new-title em {
    position: absolute;
    top: 25px;
    left: 117px;
    font-size: 36px;
    line-height: 18px;
    color: #ec1c16;
}

.section-best {
    background: url("../img/new_titlle_bg2.png") no-repeat 100px center;
}

.con .today span img {
    float: left;
    padding: 13px;
}

.con .today .info {
    padding-top: 16px;
}

.con .today .info em {
    float: left;
    margin-right: 8px;
}

.con .today .info h3 {
    line-height: 28px;
}

.con .today .info p {
    color: #999999;
    line-height: 18px;
}

.calendar {
    float: left;
    margin-left: 10px;
    padding-bottom: 23px;
    position: relative;
}

.calendar h3 {
    width: 300px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    word-spacing: 8px;
}

.calendar ol li {
    width: 40px;
    height: 40px;
    float: left;
    background: #ededed;
    margin: 0 3px 2px 0;
    text-align: center;
    line-height: 40px;
    color: #666666;
    font-weight: bold;
}

.calendar .normal {
    background: #f8f8f8;
    color: #cccccc;
}

.calendar .today-pic {
    position: relative;
}

.calendar .today-pic img {
    position: absolute;
    top: 0;
    left: 0;
}

.calendar .active-pic {
    position: relative;
}

.calendar .active-pic img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

.today-info {
    position: absolute;
    top: 125px;
    left: 222px;
    display: none;
}

.today-info span {
    position: relative;
    top: -63px;
    left: -7px;
}

.pic-slide {
    width: 296px;
    height: 158px;
    background: #f8f8f8;
    border-radius: 6px;
    position: relative;
    padding: 12px;
    overflow: hidden;
    margin-bottom: 20px;
}

.pic-slide ul {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 224px;
    height: 134px;
    border: 1px solid #ffffff;
    overflow: hidden;
}

.pic-slide ul li {
    width: 224px;
    height: 134px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.pic-slide ol {
    position: absolute;
    top: 12px;
    left: 246px;
}

.pic-slide ol li {
    border: 3px solid #ffffff;
    width: 54px;
    height: 30px;
    margin-bottom: 13px;

}

.pic-slide ol img {
    width: 54px;
    height: 30px;
}

.pic-slide ol .active {
    border: 3px solid #d6191d;
}

.pic-slide p {
    position: absolute;
    bottom: 12px;
    left: 12px;
    font-weight: bold;
}

.new-best-list {

}

.new-best-list li {
    height: 26px;
    line-height: 26px;
    margin-bottom: 1px;
}

.new-best-list .col-01 {
    padding-left: 40px;
    width: 210px;
    background: url("../img/new-best-list-icon.png") no-repeat 13px center;
    float: left;
}

.new-best-list .col-02 {
    width: 60px;
    float: right;
    color: #999999;
}

.new-best-list a {
    color: #454545;
    font-weight: bold;
}

.options-con .subway-pic {
    display: block;
    border: none;
    width: 308px;
    height: 258px;
    margin: 0 auto;
    padding: 20px 0;
}

.luntan-con ol {

    padding-bottom: 20px;
}

.luntan-con li {
    position: relative;
    height: 30px;
    background: #F1F1F1;
    border-radius: 6px;
    margin-bottom: 3px;
    cursor: pointer;
}

.luntan-con li strong {
    color: #D80000;
    width: 35px;
    line-height: 30px;
    float: left;
    padding-left: 10px;
}

.luntan-con li h4 {
    color: #333333;
    line-height: 30px;
    width: 200px;
    float: left;
    font-weight: normal;
}

.luntan-con li b {
    color: #666;
    line-height: 30px;
    width: 70px;
    float: right;
    font-weight: normal;
}

.luntan-con li em,
.luntan-con li span,
.luntan-con li img {
    display: none;
}

.luntan-con .active {
    height: 70px;
    background: #D90000;
    color: #ffffff;
}

.luntan-con .active img {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
}

.luntan-con .active h4 {
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    top: 6px;
    left: 72px;
}

.luntan-con .active span {
    display: block;
    color: #ffffff;
    position: absolute;
    top: 34px;
    left: 72px;
}

.luntan-con .active em {
    display: block;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 20px;

}

.luntan-con .active b {
    display: none;
}

.hot-list-pic {
    height:242px;
    padding-bottom: 10px;
}

.hot-list-pic li {
    width: 77px;
    height: 78px;
    float: left;
    margin: 0 2px 2px 0;
    position: relative;
}

.hot-list-pic li span{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:333;
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    text-align: center;
    line-height:78px ;
    cursor: pointer;
}

.hot-list-pic .lengther {
    width: 156px;
}
